# pip install ultralytics
# pip install -r requirements.txt
#numpy
#pandas
#matplotlib
#playsound
tensorflow==2.10.*
##tensorflow-hub
#matplotlib>=3.2.2
#numpy>=1.21.6
#opencv-python>=4.6.0
#Pillow>=7.1.2
#PyYAML>=5.3.1
#requests>=2.23.0
#scipy>=1.4.1
##torch>=1.7.0
##torchvision>=0.8.1
##pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
#tqdm>=4.64.0
pyyaml-include
